{
  "arrowParens": "always",
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "quoteProps": "as-needed",
  "experimentalTernaries": true,
  "jsxSingleQuote": true,
  "printWidth": 80,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,

  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ],

  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindAttributes": ["theme"],
  "tailwindFunctions": ["tw", "twJoin", "twMerge"]
}
